<!DOCTYPE html>
<html>
    <body>

        <h2>Deployemnt</h2>

        <form method="POST" action = '/predict' >
            <label for="preg">First name:</label><br>
            <input type="number" id="preg" name="preg" placeholder="preg" required='required'><br>
            <label for="plas">Last name:</label><br>
            <input type="number" id="plas" name="plas" placeholder="plas" required='required'><br>
            <label for="pres">Email:</label><br>
            <input type="number" id="pres" name="pres" placeholder="pres" required='required'><br>
            <label for="skin">Phone:</label><br>
            <input type="number" id="skin" name="skin" placeholder="skin" required='required'><br><br>
            <label for="test">Phone:</label><br>
            <input type="number" id="test" name="test" placeholder="test" required='required'><br><br>
            <label for="mass">Phone:</label><br>
            <input type="number" id="mass" name="mass" placeholder="mass" required='required'><br><br>
            <label for="pedi">Phone:</label><br>
            <input type="number" id="pedi" name="pedi" placeholder="pedi" required='required'><br><br>
            <label for="age">Phone:</label><br>
            <input type="number" id="age" name="age" placeholder="age" required='required'><br><br>
            <label for="class">Phone:</label><br>
            <input type="number" id="class" name="class" placeholder="class" required='required'><br><br>

            <button type='submit'>Predict</button>

            {{pred}}
        </form>


    </body>
</html>