<!DOCTYPE html>
<html>
    <body>

        <h2>Deployemnt</h2>

        <form method="POST" action = '/predict' >
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" placeholder="first name" required='required'><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" placeholder="last name" required='required'><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" placeholder="email" required='required'><br>
            <label for="phone">Phone:</label><br>
            <input type="number" id="phone" name="phone" placeholder="phone" required='required'><br><br>

            <button type='submit'>Predict</button>
        </form>


    </body>
</html>

